.flip-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.flip-face {
  width: 100%;
  height: 100%;
}
.flip-face.front,
.flip-face.back {
  display: block;
  position: relative;
  border-radius: inherit;
}
.flip-face.back {
  background: #d6b981;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
}
.serviceCard__thumb {
  position: relative;
  overflow: hidden;
}
.serviceCard__thumb .front {
  cursor: pointer;
}
.flip-face {
  width: 100%;
  height: 263px;
}
.serviceCard__img {
  height: 230px;
}
.flip-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.flip-face.front,
.flip-face.back {
  display: block;
  position: relative;
  border-radius: inherit;
}
.flip-face.back {
  background: #a868fa;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
  color: white !important;
}
.serviceCard__thumb {
  position: relative;
  overflow: hidden;
}
.flip-face {
  width: 100%;
  height: 230px;
}
.flip-face.back {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sttl {
  font-size: 28px;
  font-weight: 700;
  color: #2d343e;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: block;
}
